
$primary-color: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #FFFFFF;


$color-dark-s: #CDCDCD;
$color-dark-m: #b2b2b2;
$color-dark-l:#545454;
$color-dark-xl:#4c4c4c;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;

$footer-gradient-background: url(assets/img/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

@mixin h2 {
    font: {
        family: 'Georgia';
        size: 4.4rem;
        weight: 400;
        height: 130%;
    }
}

@mixin h3 {
    font: {
        family: 'Georgia';
        style: normal;
        weight: normal;
        size: 3.5rem;
    }
    line-height: 130%;
    letter-spacing: 0.06rem;
}



@mixin h4 {
    font: {
        family: 'Georgia';
        style: normal;
        weight: normal;
        size: 2rem;
    }
    line-height: 115%;
    letter-spacing: 0.06rem;
    
}

@mixin h5 {
    font: {
        family: 'Georgia';
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 110%;
    letter-spacing: 0.06rem;
    
}


@mixin paragraph-l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 160%;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }
    line-height: 150%;
}
@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.2rem;
    }
    line-height: 110%;
    letter-spacing:  0.06rem;
}



@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.3rem;
    }
    line-height: 110%;
    letter-spacing:  0.06rem;
}



@mixin slider__button{
 
        border:  3px solid $color-primary-light;
        border-radius: 100%;
        padding: 1.9rem;
        background: none;
   

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    
}





.wrapper {
    max-width: 75rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


.header {
    width: 100vw;
    top: 60px;
    position: absolute;
    
}

.menu {
    width: 443px;
    display: flex;
}


 .logo {
display: flex;
flex-direction: column;
 }


 .logo__title {

    color: $color-primary-light;
    @include logo_title; 
 }


 .logo__subtitle {
     margin-top: 1rem;
    color: $color-light-xl;
     text-align: center;
     @include logo_subtitle; 
     
 }


 .menu {
     display: flex;
     
 }


 .list {
     display:flex;
     width: 100%;
     margin: 0;
     padding: 0;
     list-style-type: none;
     justify-content: space-between;

 }



 .list-item {
     display: flex;
     align-items: center;   
 }
 .list__link {
     color:  $color-light-xl;
     font-family: arial;
     font-size: 15px;
     line-height: 160%;

}


.list__link_active {
    border-bottom: solid 3px $color-primary-light;

}

.list__link_disabled {
    color:  $color-dark-s;
}
.menu {
    display: flex;
    flex-direction: column;
}







.hero {
        display: flex;
        padding-top: 180px;
        background: 
        url(assets/img/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, 
        #5B483A 0%, #262425 100%), #211F20;
        
        
}

.hero__content {
    display: flex;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.content-section__title{
    color: #FFFFFF;
    font-size: 44px;
    line-height: 130%;
    max-width: 310px;
}



.content-section__subtitle {
    color: $color-dark-s;
    margin-top: 2.625rem;
    font-family: Ðrial;
    line-height: 160%;
    font-weight:400;
}

.content-section__button {
    padding: 15px 45px;
    width: 207px;
    border-radius: 100px;
    border: none;
    background-color: $color-primary-light;
    margin-top: 15px;
}



.about {
    display: flex;
    
    

    & .wrapper {
        justify-content: center;
    }
    &__image-wrapper {
        display: flex;
        
    }
    &__image-wrapper > img {
        margin-left: -50%;
        padding-top: 70%;
        
    }

    &__image {
        width: 100%;
        
        
    }
    &__content {
       display: flex;
        flex-direction: column;
        max-width: 43rem;
        padding-top: 20%;
        
        
    }
    &__title {

       
        color: $color-dark-l;
        @include h3;
    }

    &__description {
        margin-top: 2.5rem;
        
        p {
            color:  $color-dark-xl;
            @include paragraph-l;
            margin-bottom: 2.5rem;
            
        }
    }
    
}



.pets {
    padding-top: 8rem;
    padding-bottom: 8rem;
     &__wrapper {
         width: 100%;
         display: flex;
         align-items: center;
         
     }
         &__title {


            max-width: 40rem;
            text-align: center;
             @include h3; 
             color:$color-dark-l
         }
        

         span {
             display: block;
             letter-spacing: 0.2rem;
         }

         &__content {
             display: flex;

         }
         
         .slider-button {
            @include slider__button;
             }
    
            .slider-button__reverted {
                @include slider__button;
                 transform:rotate(180deg);
                
                
             }

            
   
       
     }


@media screen  and ( max-width: 1280px) {
    .wrapper {
        padding: 0 4rem;
    }
    .hero {
         background-color: 100%;
    }

    .about__image-wrapper > img  {
        visibility: hidden;

}



@media screen  and ( max-width: 1100px) {
    .hero__content {
        flex-direction: content;
    }

    .hero__content {
        align-items: center;
    }
}
}